.input-number-custom .ant-input-number-input {
  text-align: right;
}
.cursor-pointer {
  cursor: pointer;
}

.placeholderdiv input::placeholder{
  font-size: 12px;
  text-align: start;
}
.relative-placeholder span {
  font-size: 12px;
}

.card{
  background: rgba(255, 255, 255, 0.5)
}